# Secrets et configurations sensibles
.streamlit/secrets.toml
.env
*.key
*.pem

# Environnements virtuels
venv/
env/
.venv/
venv*/
env*/
.venv*/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de cache
.cache/
.pytest_cache/

# Fichiers de sortie
*.log
*.sqlite3

# Fichiers spécifiques à Streamlit
.streamlit/config.toml